.carousel {
    width: 100%;
    border: 1px solid rgb(189, 189, 185);
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    &-container {
        // border: 1px solid blue;
        height: 25rem;
        & > .CarouselItem {
            & > div {
                height: 20rem;
                & > div {
                    // border: 1px solid blue;
                    height: 20rem;
                    border-radius: 24px;
                    & img {
                        border-radius: 24px;
                        width: 100%;
                        height: 100%;
                        object-fit: contain !important;
                    }
                }
            }
        }
    }
}
