a {
    text-decoration: none;
}

.home {
    // border: 1px solid blue;
    width: 80%;
    margin: 0 auto;
    &-hero {
        height: 400px;
        background-image: url("../../images/HeroImagesm.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        object-fit: cover;

        border-top-right-radius: 25px;
        border-top-left-radius: 25px;

        display: flex;
        align-items: center;
        &-container {
            width: 86%;
            margin: 0 auto;
            & > svg {
                // border: 1px solid blue;
                margin-bottom: 1rem;
            }
            & > div {
                & > span {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 17px;
                    line-height: 29px;
                    color: #ffffff;
                    // border: 1px solid blue;
                }
                margin-bottom: 2rem;
            }
            & > .search-box {
                outline: none !important;
                background: #ffffff;
                border-radius: 59px;
                border: none;
                & > div:nth-child(1) {
                    // border: none !important;
                    // border: 1px solid red;
                    & > div {
                        // border: none !important;
                        // border: 1px solid blue;
                        & > input {
                            font-family: Montserrat, sans-serif;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 22px;
                            /* identical to box height */
                            color: #291507;
                        }
                        &:hover {
                            outline: none;
                        }
                        &:focus {
                            border-radius: 59px;
                            outline: none !important;
                        }
                        & > fieldset {
                            // border: 1px solid greenyellow;
                            & span {
                                font-family: Montserrat, sans-serif;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 22px;
                                /* identical to box height */
                                color: #291507;
                            }
                        }
                    }
                }
                & > div[role="presentation"] {
                    background-color: #291507 !important;
                    & a {
                        color: #4d270c;
                    }
                }
            }
        }
    }
    &-most {
        // border: 1px solid blue;
        min-height: 31.875rem;
        background: #e3e1dc;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        padding-top: 2rem;
        margin-bottom: 100px;
        &-container {
            width: 85%;
            margin: 0 auto;
            // border: 1px solid blue;
            & > div:nth-child(1) {
                width: 250px;
                margin-bottom: 36px;
                & > span {
                    display: block;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    /* identical to box height */
                    color: #291507;
                }
                & > hr {
                    border: 3px solid #4d270c;
                    margin-top: 8px;
                    border-radius: 77px;
                    width: 59.18px;
                    display: block;
                    float: left;
                }
            }
            & > div:nth-child(2) {
                margin-bottom: 30px;
                display: flex;
                justify-content: space-between;
                & > div:nth-child(1) {
                    width: 55%;
                    // border: 2px solid blue;
                    & > span {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 48px;
                        line-height: 59px;

                        color: #291507;
                    }
                }
                & > div:nth-child(2) {
                    // border: 2px solid blue;
                    // width: 30%;
                    & > a {
                        text-decoration: none;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 22px;
                        /* identical to box height */
                        text-align: right;
                        color: rgba(41, 21, 7, 0.6);

                        position: relative;
                        & > div {
                            display: flex;
                            align-items: center;
                            // border: 1px solid blue;
                        }
                    }
                }
            }
            & > div:nth-child(3) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                & > .card {
                    border-radius: 24px;
                    text-align: center;
                    width: 200px;
                    height: 200px;
                    margin-bottom: 3rem;
                    & > img {
                        // border: 1px solid blue;
                        border-radius: 24px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        margin-bottom: 10px;
                    }
                    & > div {
                        & > span {
                            display: inline-block;
                            font-family: Montserrat;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 22px;
                            /* identical to box height */
                            color: #291507;
                        }
                    }
                }
            }
        }
    }
    &-benefits {
        // border: 1px solid blue;
        height: auto;
        & > div {
            // border: 1px solid blue;
            width: 85%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            & > div:nth-child(1) {
                width: 30%;
                // border: 1px solid blue;
                & > div:nth-child(1) {
                    // border: 1px solid blue;
                    & > hr {
                        border: 3px solid #4d270c;
                        margin-top: 8px;
                        border-radius: 77px;
                        width: 59.18px;
                        display: block;
                        margin-left: 0;
                        margin-right: auto;
                    }
                }
                & > div:nth-child(2) {
                    // border: 1px solid blue;
                    & > span {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 40px;
                        line-height: 59px;
                        color: #291507;
                    }
                }
                & > div:nth-child(3) {
                    // border: 1px solid blue;
                    & > p {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 22px;
                        color: #291507;
                    }
                }
                & > div:nth-child(4) {
                    & > a {
                        // border: 1px solid blue;
                        color: rgba(41, 21, 7, 0.6);
                        display: flex;
                        align-items: center;
                        & > span:nth-child(1) {
                            font-family: Montserrat;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 18px;
                            line-height: 22px;
                        }
                    }
                }
            }
            & > div:nth-child(2) {
                // border: 1px solid blue;
                width: 60%;
                display: flex;
                & > div:nth-child(1) {
                    // border: 1px solid green;
                    width: 50%;
                    margin-right: 1.5rem;
                    height: 30rem;
                    & > div:nth-child(1) {
                        // border: 1px solid yellow;
                        height: 11rem;
                        margin-bottom: 1.5rem;
                        & > div {
                            // border: 1px solid yellow;
                            height: 11rem;
                            border-radius: 24px;
                            & > img {
                                border-radius: 24px;
                                height: 100%;
                                object-fit: cover;
                                width: 100%;
                            }
                        }
                    }
                    & > div:nth-child(2) {
                        display: flex;
                        height: 17rem;
                        justify-content: space-between;
                        // border: 1px solid red;
                        margin-right: 0;
                        margin-left: auto;
                        & > div:nth-child(2) {
                            // float: right;
                            // border: 1px solid red;
                            border-radius: 24px;
                            width: 195.49px;
                            height: 17rem;
                            border-radius: 24px;
                            & > img {
                                border-radius: 24px;
                                object-fit: cover;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
                & > div:nth-child(2) {
                    // border: 1px solid #4d270c;
                    width: 50%;
                    & > div {
                        // border: 1px solid #ff6d05;
                        height: 24rem;
                        border-radius: 24px;
                        margin-right: 0;
                        margin-left: auto;
                        & > img {
                            border-radius: 24px;

                            height: 100%;
                            object-fit: cover;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1027px) {
    .home {
        width: 90%;
        &-benefits {
            & > div {
                display: block;
                & > div:nth-child(1) {
                    width: 100%;
                    margin-bottom: 2.5rem;
                }
                & > div:nth-child(2) {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 560px) {
    .home {
        &-most {
            &-container {
                & > div:nth-child(2) {
                    display: block;
                    & > div:nth-child(1) {
                        width: 100%;
                        margin-bottom: 1rem;
                    }
                }
                & > div:nth-child(3) {
                    & > .card {
                        border-radius: 24px;
                        text-align: center;
                        width: 130px;
                        height: 130px;
                        margin-bottom: 3rem;
                        & > div {
                            & > span {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .home {
        &-benefits {
            & > div {
                & > div:nth-child(2) {
                    // border: 1px solid blue;
                    width: 100%;
                    display: flex;
                    height: 15rem;
                    //Left clock
                    & > div:nth-child(1) {
                        // border: 1px solid green;
                        width: 50%;
                        margin-right: 0.5rem;
                        height: 20rem;
                        & > div:nth-child(1) {
                            // border: 1px solid yellow;
                            height: 5rem;
                            margin-bottom: 1.5rem;
                            & > div {
                                // border: 1px solid yellow;
                                height: 6rem;
                                border-radius: 24px;
                                & > img {
                                    border-radius: 24px;
                                    height: 100%;
                                    object-fit: cover;
                                    width: 100%;
                                }
                            }
                        }
                        & > div:nth-child(2) {
                            display: flex;
                            height: 11rem;
                            justify-content: space-between;
                            // border: 1px solid red;
                            margin-right: 0;
                            margin-left: auto;
                            & > div:nth-child(2) {
                                // float: right;
                                // border: 1px solid red;
                                border-radius: 24px;
                                width: 100px;
                                height: 11rem;
                                border-radius: 24px;
                                & > img {
                                    border-radius: 24px;
                                    object-fit: cover;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                    //Right block
                    & > div:nth-child(2) {
                        // border: 1px solid #ff6d05;
                        & > div {
                            // border: 1px solid #ff6d05;
                            height: 15rem;
                            border-radius: 24px;
                            margin-right: 0;
                            margin-left: auto;
                            & > img {
                                border-radius: 24px;
                                height: 100%;
                                object-fit: cover;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
